body{
    margin:0px;
    padding:0px;
    font-family: DM Sans;
    background-color: #fffaf1;
    user-select: none;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
a:visited{
    color:inherit;
    
}
.scroll-watcher{
    position: fixed;
    height:7px;
    top:0;
    z-index:1000;
    background: #ffca6a;
    width:100%;
    scale: 0 1;
    transform-origin: left;
    animation: scroll-watcher linear;
    animation-timeline: scroll();
}

.home{
    display:inline-block;
    position:absolute;
    width: 300px;
    left:20px;
}

.header{
    display: flex;
    min-width: 1400px;
    position:relative;
    width:100%;
    justify-content: end;
    margin-top: 30px;
    padding-bottom:25px;
}
.header div{
    margin-right:60px;
    font-size: 20px;
}

.header div:hover{
    cursor:pointer;
    animation:wiggle 0.3s;
}
.recom{
    border-bottom:1px solid black; 
}


/* Mid Section */


.mid-sec{
    display: grid;
    min-width: 1380px;
    grid-template-rows:1150px 500px ;
}





.row1{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
h2{
    padding:0px;
    margin-top:0px;
    margin-bottom:50px;
}
.yt{
    display: flex;
    flex-direction: column;
    padding-left:30px;
    border-right:1px solid grey;
}


.yt1{
    display:flex;
    width:690px;
    height:94px;
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
    border-radius:1rem;
    margin-bottom:15px;
    margin-right:20px;
    overflow:visible;
}



.yt1 img{
    flex:1;
    width:170px;
    border-radius:1rem;
    transition: transform 0.5s !important;
    will-change: transform;
    z-index:100;
}

.yt1 img:hover{
    border: 2px solid red;
    transform:scale(1.3) !important;
}
.yt1 p{
    flex:5;
    margin:0px;
    padding-left:25px;
    font-size:17px;
}

.mov{
    display: flex;
    flex-direction: column;
    
}
.roww{
    display: grid;
    padding-left:20px;
    grid-template-columns: 1fr 1fr 1fr;
}

.roww div{
    display: flex;
    justify-content: center;
    align-items: center;
    width:200px;
    margin-bottom: 10px;
    margin-right:10px;
    border-bottom: 1px solid grey;
    border-right: 1px solid grey; 
    border-radius: 1rem;
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
    object-fit: cover;
    overflow:visible;
}

.roww div img{
    will-change: transform;
    transition: transform 0.4s;
    object-fit: cover;
    border-radius: 1rem;
    width:150px;
    z-index:10 !important;
}

.roww div img:hover{
    transform: scale(1.5);
    z-index:100 !important;
}

/* Music Section */
.row2{
    display: grid;
    grid-template-rows: 0.2fr 1fr 1fr 1fr ;
    row-gap: 40px;
}
.musich2{
    margin-bottom: 0px;
    padding-left: 30px;
}
    
.roww1{
    display: grid;
    padding-left: 50px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 40px;
}


.music-template{
    display: flex;
    max-width: 500px;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    height:70px;
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
    vertical-align: center;
    overflow: visible;

}

.audio{
    transition: transform 0.3s !important;
    padding-left:25px;
}
.audio:hover{
    transform: scale(1.11) !important;
}

.music, .audio{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:0 0px 0px 0 rgba(0,0,0,0);
}


.musicpic{
    width:95px;
    height:55px;
    margin-top:7px;
    border-radius:5px;
    border:1px solid grey;
    border-bottom-left-radius: 1.1rem;
    border-top-left-radius: 1.1rem;
    transform: scale(1.3);
}



footer{
    display:grid;
    min-width: 1400px;
    margin-top:20px;
    grid-template-rows: 1fr 1fr;
    row-gap: 20px;
    height:200px;
    background-color:#ffe5b6;


}

.fotter-row1{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    height:150px;
    align-items: center;
    margin-left:30px;

}

.fotter-row2{
    display: flex;
    justify-content: space-between;
    height:20px;
    margin-left: 30px;

}

.lastupdate{
    padding-left:100px;
}
.rnd{
    margin-right: 30px;
}

.socials{
    width:50px;
    transition: transform 0.2s;
}
.socials:hover{
    cursor:pointer;
    transform: scale(1.3);
}
.email{
    font-size: 18px;
    margin-right:30px;
}        



